@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Holtwood+One+SC&family=Pacifico&family=Playfair+Display&family=Quicksand:wght@300&family=Roboto:wght@100&display=swap');
*{
    font-family:'quicksand';
}
.logo{
 height:40px ;
 margin-left:-4%;
}
.logo-title{
   color:white;
   font-size:20px;
   padding-top:2%;

}
#connect-title{
   color:white;
   display:flex;
   font-size:70px ;
   margin-top:100px;
   align-items:center ;
   padding-left:3% ;
}

#let-subtitle{
   color:white;
   padding-left:3% ;
}

#get-startedbutton{
    border-radius:50px;
       margin-left:5%;
       width:240px;
       height:60px;
       background-color:transparent ;
       color:white;
       border:2px solid white;
       font-size:20px;
       margin-top:2%;
       overflow: hidden;
       cursor: pointer;
}

#get-startedbutton:hover {
   box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
               -4px -4px 6px 0 rgba(116, 125, 136, .5),
     inset -4px -4px 6px 0 rgba(255,255,255,.2),
     inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
 }


.instagram{
  height:40px;
  color:white;
   margin-left:-35%;


}
.twitter{
  height:40px;
  color:white;
  margin-left:-35%;

}
.facebook{
  height:40px;
  color:white;
  margin-left:-40%;

}
.fa-phone{
  margin-left:-26%;
}
.map{
 margin-top:5%;
}

.homepage-route{
 text-decoration:none;
 color:white;

}
.homepage-route:hover{
 text-decoration:underline;
 color:white;
}

.footer-logo{
  height:30px ;
  margin-left:75%;

}
.footer-title{
 font-size:20px;
}
.footer-content{
}


.success-card{
display:flex;
align-items:center ;
margin-top:30px;
background-color: #000075;

}

.card-link{
text-decoration:none;
color:white;
}
.request-service{
background-color: transparent;
font-family: 'Acme', sans-serif;
font-size: 30px;
color:white;
width:400px;
height:70px;
border-radius:12px;
border:2px solid white;

}
.request-service:hover{
background-color:grey;

}
.success-message{
font-family: 'Acme', sans-serif;
}
.success-content{
color:white;
font-family: 'Acme', sans-serif;
margin-left:1%;
}
.success-labels{
color:white;
font-weight:bold;
font-family: 'Acme', sans-serif;
}

#success-image{
height:300px;
margin-left:35%;
margin-top:-10%;

 animation: lightSpeedInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */


}
.animate__animated.animate__lightSpeedInLeft {
  --animate-duration: 10s;
}

/* This changes all the animations globally */
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

.billingsuccess-card{
display:flex;
align-items:center ;
margin-top:30px;
margin-left:40px;
background-color: #000075;
padding-top:5%;
padding-bottom:5%;

}

.typewrite{
margin-top:1%;
margin-left:30%;
text-decoration:none;
font-family: 'Acme', sans-serif;
font-size:30px;
}
#success-title{
margin-top:14%;
margin-left:40%;
}

#billingsuccess-image{

margin-top:-1%;
height:330px;
margin-left:40px;
display:flex;
margin-bottom:-25%;

}
#success-tick{
height:100px;
margin-top:-1%;
margin-bottom:2%;
display:flex;
margin-left:-40px;

}
.success-content1{
color:white;
font-family: 'Acme', sans-serif;
margin-left:24%;
}





