{{#partial "content"}}
    <div class="container my-3" id="nav">
        <nav class="navbar navbar-expand-lg bg-white fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav container col-md-4">
                    <a class="nav-item nav-link active" href="/">HOME</a>
                    <a class="nav-item nav-link" href="/about">ABOUT</a>
                    <a class="nav-item nav-link" href="/services">SERVICES</a>
                    <a class="nav-item nav-link" href="/contacts">CONTACT</a>
                </div>
            </div>
        </nav>
    </div>
    <pre>
        <br>
    </pre>

<div class="container mt-3">
    <h2 class="fw-bold">Success!</h2>
    <p class="success-message">Your information has been recieved successfuly.</p>

    <div class="success-image">
        <img src="/images/cheers.png" id="success-image" animate__animated animate__animate__lightSpeedInLeft>
    </div>
    <div class="card  success-card">
        {{#if clients}}
            <div class="card-body">
                <p class="card-title success-labels">Name:<span class="success-content">{{clients.name}}</span></p>
                <p class="card-text success-labels">Email: <span class="success-content">{{clients.email}}</span></p>
                <p class="card-text success-labels">Contact: <span class="success-content">{{clients.contact}}</span></p>
                <a href="/clients/{{clients.id}}/services/new" class="card-link"><button class="request-service">Request a Service</button></a>
            </div>
        {{/if}}
    </div>
</div>
<pre>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </pre>
<style>
         #nav{
           position: fixed;
           top:0;
           width:100%;
           z-index: 1;
           }
         .fw-bold{
           font-family: 'Acme', sans-serif;
          }
</style>

{{/partial}}

{{> layout.hbs}}


